.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
}

.container h1{
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 50px;
  left: 20px;
}


.categories{
  margin: 10px;
  background-color: aqua;
  text-align: left;
  width: 200px;
  padding: 20px;
  margin-bottom: 50%;
  margin-right: 20px;
  justify-content: left;
  position: fixed;
  top: 100px;
  left: 20px;
  max-height: 800px;
  overflow-y: auto;
  border: 1px solid #282c34;
  border-radius: 5px;
}

.categories li {
  margin-top: 10px;
  border: 1px solid #282c34;
  cursor: pointer;

}

.book-list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 70%;
  margin: 10px;
  margin-left: 20%;
  flex: 1;
}

.book-list li {
 width: calc(25% - 10px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  width: 20%;
  text-align: left;
  background-color: lightgray;
  border-radius: 10px;
}